/* Ensures that all elements do not overflow the horizontal bounds of the document */
* {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../img/background.jpg'); /* Adjust with your actual background image */
    background-size: auto;
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
}

h2 {
    overflow: visible;  /* Resets the overflow property */
}

.section-header {
    /* underline text */
    text-decoration: underline;
}

.carousel {
    overflow: hidden;
    position: relative;
    height: 600px;
}
.carousel img {
    width: 100%;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    outline: none;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.navbar-main {
    border-bottom: 1px solid #fff;
}

/* navbar ul text-center */
.navbar-main ul {
    text-align: center;
    height: 100%;
}

.navbar-main ul a {
    width: 100%;
}

/* navbar li full width */
.navbar-main li {
    width: 100%;
}

/* background grey on hover */
.navbar-main li:hover {
    background-color: #f8f9fa;
    color: black;
}

/* CSS for sticky navbar */
.navbar-main {
    position: relative; /* Set initial position */
    background-color: #302b28;
}

.navbar-sticky {
    position: fixed; /* Stick navbar to the top */
    top: 0; /* Position at the top of the viewport */
    width: 50%; /* Take up full width */
    z-index: 1000; /* Ensure it's above other content */
    left: 25%; /* Center the navbar horizontally */
}

#contact {
    background-color: #302b28;
}

.service-item {
    cursor: pointer;
    text-align: center;
}


/* mobile background image */
@media (max-width: 768px) {
    body {
        background-attachment: scroll;
        background-image: url('../img/background-mobile.jpg');
    }
    .carousel {
        height: 225px;
    }
}